<h2>Welcome <font color="green"><%= current_user.first_name %> <%= current_user.last_name %></font></h2>
<br>
<hr>
<br><ul style="margin: auto" class="thumbnails">
<!--
<li style="height: 145px; box-shadow: 1px 1px 4px #cfcfcf; padding: 4px;" class="editing span2">
<h3 style="text-align: center" class="index_header">New Company</h3>
<div style="text-align: center; padding: 4px">
<%= @last_added_company %>
<br>
<%= link_to 'Show', @last_added_company %>

</div>


-->

      
<ul class="thumbnails" style="margin: auto">
<!--


</div>


-->
<li class="editing span2" style="height: 145px; box-shadow: 1px 1px 4px #cfcfcf; padding: 4px;">
<h4 class="index_header" style="text-align: center">Bank Book</h4>
<div style="text-align: center; padding: 4px">
<% if current_user.role.to_s == 'admin' %>
<%= BankBook.all.count %>
<% else %>
<%= BankBook.all.count %>
<% end %>
<br>
<a href="/bank_books">Show</a>


</div>
</li>
<li class="editing span2" style="height: 145px; box-shadow: 1px 1px 4px #cfcfcf; padding: 4px;">
<h4 class="index_header" style="text-align: center">Apporoved Bank Bill</h4>
<div style="text-align: center; padding: 4px">
<% if current_user.role.to_s == 'admin' %>
<%= BankBook.count(:status => "approved") %>
<% else %>
<%= BankBook.count(:status => "approved") %>
<% end %>
<br>
<a href="/bank_books/approve_list">Show</a>


</div>
</li>

<li class="editing span2" style="height: 145px; box-shadow: 1px 1px 4px #cfcfcf; padding: 4px;">
<h4 class="index_header" style="text-align: center">Pending Bank Book List</h4>
<div style="text-align: center; padding: 4px">
<% if current_user.role.to_s == 'admin' %>
<%= BankBook.count(:status => "not_approved") %>
<% else %>
<%= BankBook.count(:status => "not_approved") %>
<% end %>
<br>

<a href="/bank_books/pending_list">Show</a>

</tr>

</div>


<li class="editing span2" style="height: 145px; box-shadow: 1px 1px 4px #cfcfcf; padding: 4px;">
<h4 class="index_header" style="text-align: center">Rejected Bank Book List</h4>
<div style="text-align: center; padding: 4px">


<% if current_user.role.to_s == 'admin' %>
<%= BankBook.count(:status => "rejected") %>
<% else %>
<%= BankBook.count(:status => "rejected") %>
<% end %>
<br>

<a href="/bank_books/rejected">Show</a>

</tr>

</div>






<% User.all.count %>

 <br>
  
 
</div>
</li>

</ul>


</div>
</div>



 


