


<%= form_for(@bank_book) do |f| %>

<% if @bank_book.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@bank_book.errors.count, "error") %> prohibited this bank_book from being saved:</h2>
  
  <ul>
    <% @bank_book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div style="width:50%" >
  <table class="table table-bordered">
    
    <tr>
      <td><%= f.label :branch_id, "Branch" %>
      <td>
    	<%= current_user.branch.branch_name %>
      </td>
      
      
    <tr>
      
      <td><%= f.label :chq_date, "Chq Date" %>
      <td>

	<div class="input-append date" id="dp_chq_date" data-date-format="yyyy-mm-dd">
	  <%= f.text_field :chq_date, :class=>"span2" %><span class="add-on"><i class="icon-th" style="background-image: url('/images/glyphicons-halflings.png');"></i></span></div>
	<script type="text/javascript">$('#dp_chq_date').datepicker();</script>
	
	
    </tr>
    
    <tr>
      <td><%= f.label :account_head, "Account Head" %>
      <td><%= f.text_field :account_head %><sup><font color="red">*</font></sup>
    </tr>
    
    <tr>
      <td><%= f.label :narration, "Narration" %>
      <td><%= f.text_area :narration, :style => "width: 600px; height: 120px;" %>
    </tr>
    
    
    <tr>
      <td><%= f.label :remark, "Remarks" %>
      <td><%= f.text_area :remark, :style => "width: 600px; height: 120px;" %>
	
	
    </tr>
    
    
    
    <tr>
      <td><%= f.label :gross_amt, "Gross Amt" %>
      <td><%= f.text_field :gross_amt %><sup><font color="red">*</font></sup>
    </tr>
    
    
    
    <tr>
      <td><%= f.label :service_tax, "Service Tax" %>
      <td><%= f.text_field :service_tax %><sup><font color="red">*</font></sup>
    </tr>
    
    
    <tr>
      <td><%= f.label :amount, "Amount" %>

      <td><%= f.text_field :amount %><sup><font color="red">*</font></sup>
    </tr>
    
    
    <tr>
      <td><%= f.label :attach_copy, "Attach Copy" %></td>
      <td align="top"><%= f.file_field :attach_copy %> </td>

      
      
      
    </tr>
    
    <tr>
      <td><%= f.label :created_date, "Created Date" %></td>
      <td><%= Date.today.strftime("%d-%b-%Y") %></td>	
</tr>
    
    
    
    <tr>
      <td><%= f.label :chq_amount, "Chq Amount" %>
      <td><%= f.text_field :chq_amount %><sup><font color="red">*</font></sup>
    </tr>
    
    <tr>
      <% if :params == "new" %>
      <td><%= f.label :status, "Status" %></td>
      <td> <%= f.select :status, :collection => [['Not Approved', :not_approved], ['Approved', :approved], ['Rejected', :rejected]] %></td>
    </tr>
    <% else %>
    <tr>
      
      <td><% f.label :status, "Status" %></td>
      <td><%# bb =  BankBook.first(params[:id].to_i) %>
      <td><%  bb = BankBook.get(:id => params[:id].to_i) %> <%# bb.status %></td>
    </tr>
    <% end %>
    
    <tr>
      
      
      <td>
      <td><div class="form-action">
	  <%= f.submit nil, :class => "btn btn-primary" %>
	  <%= link_to 'Cancel', :class => "btn" %>
	</div>
    </tr>
  </table>
</div>

<div class="control-group">
  <br />
  
</div>

</fieldset>
<% end %>


















