<p id="notice"><%= notice %></p>


<%= form_for :bank_book, :as => :bank_book, :url => change_status_bank_book_path do |f| %>
<div class="row">
  <div class="span9"><h2>Bank Book  Details</h2></div>
  <div class="span3">
  </div>
</div>
<div style= "width:80%">
  <table class="table table-bordered" >
    <tr>
      
      <td>
	<% if @bank_book.status.to_s == 'not_approved'%>
	<font color="red">
	
	  (Not Approved Yet)
	  <% else %> <font color="red">></font>
	  <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Created Time:<b></td>
      <td><%= @bank_book.created_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
    
    <tr>
      <td><b>Amount :<b></td>
      <td><%= @bank_book.amount %> /-</td>
    </tr>
    <tr>
      <td><b>Service Tax  :<b></td>
      <td><%= @bank_book.service_tax %> %</td>
    </tr>
    <tr>
      <td><b>Branch</b></td>
      <td><%= @bank_book.branch.branch_name %></td>
    </tr>
    <tr>  
      <td><b>Chq Date</b></td>
      <td><%= @bank_book.chq_date %></td>
    </tr>   

    <tr>
      <td><b>Account Head</b></td>
      <td><%= @bank_book.account_head %></td>
    </tr>
    <tr>
      <td><b>Narration</b></td>
      <td><%= @bank_book.narration %></td>
    </tr>
    <tr>
      <td><b>Remark</b></td>
      <td><%= @bank_book.remark %></td>
    </tr>
    <tr>
      <td><b>Gross Amount</b></td>
      <td><%= @bank_book.gross_amt %></td>
    </tr>
    <tr>   
      <td><b>Service Tax</b></td>
      <td><%= @bank_book.service_tax %></td>
    </tr>
    <tr>  
      <td><b>Amount</b></td>
      <td><%= @bank_book.amount %></td>
    </tr>  
    <tr> 
      <td><b>Attachment</b></td>
      <td><%= @bank_book.attach_copy %> </td>
    </tr>
    
    <tr>  
      <td><b> Created By :<b></td>
      <td><%= @bank_book.created_by.email %></td>
    </tr>
    <tr>
      <td><b> Created Date :<b></td>
      <td><%= @bank_book.created_date.strftime("%d-%b-%Y") %></td>
    </tr>
    <tr>
      <td><b>Current Status :<b></td>
      <td>
	<% if @bank_book.status.to_s == 'no_action' %>
	<b><font color="red"> Not Approved</font></td>
      <% else %>
      <b><font color="red"><%= @bank_book.status.capitalize %></font> <br>
	by <%# @bank_book.action_by.first_name %>
</td>
<% end %>
</tr>
<tr>
  <td><b>Download Attached Document <b></td>
  <td><a href="/bank_books/<%= @bank_book.attach_copy %>" target = _blank >Download</a> </td>
</tr>
<% if (current_user.role.to_s == 'admin' or current_user.role.to_s == '' or current_user.role.to_s == '') && @bank_book.status.to_s == 'no_action' %>
<tr>
  <td><b>Approve/ Reject Bill <b></td>
  <td>
    <select id="bank_book_status" name="bank_book[status]" style = "width:400px">
      <option value = "approved">Approve Bill And Send Bill To Account Deptt.</option>
      <option value = "no_action">No Action Yet</option>
      <option value = "rejected">Reject This Bill</option>
    </select>
  </td>
</tr>

<tr>
  
</tr>
<tr>
  <td></td>
  <td >
    <% if @bank_book.status.to_s != 'rejected' && Date.today.strftime("%d").to_i <= 25%>
       <input type="submit" name="submit" value ="Update Status"class="btn btn-primary">
       <% else %>
       <div class="alert alert-info" class="close">
	 <b>Alert! </b>
	 Bills can only be approved from Day 1 to 25 of months...
       </div>
       <% end %>
  </td>
</tr>
<% end %>
</div>


<% end %>













